@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #E2E8F0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
}

.sidebar {
  display: grid;
  background-color: #1992D4;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr 2fr;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  grid-row-start: 1;
  grid-row-end: 5;
  font-weight: bold;
  gap: 20px;
  padding: 20px;
}

.logo {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 26px;
  color: white;
  gap: 10px;
}

.menu-1 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}

.home, .profile, .messages, .history, .tasks, .communities {
  display: grid;
  grid-template-columns: 1fr 4fr;
  color: white;
  align-items: center;
}

.menu-1 img {
  width: 25px;
}

.menu-2 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}

.settings, .support, .privacy {
  display: grid;
  grid-template-columns: 1fr 4fr;
  color: white;
  align-items: center;
}

.menu-2 img {
  width: 25px;
}

.header {
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.placeholder-container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
}

.magnify {
  width: 25px;
  height: 25px;
  justify-self: end;
  margin-right: 20px;
}

.placeholder {
  display: grid;
  grid-column-start: 2;
  background-color: #E2E8F0;
  width: 750px;
  height: 25px;
  border: none;
  border-radius: 10px;
  }

.profile-settings-container {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  align-items: center;
}

.notifications-logo {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  grid-column-start: 6;
  grid-column-end: 7;
}

.profile-picture {
  width: 40px;
  border-radius: 20px;
  grid-column-start: 7;
  grid-column-end: 8;
}

.profile-name {
  margin-left: 20px;
  font-weight: bold;
  grid-column-start: 8;
  grid-column-end: 11;
}

.welcome-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-left: 50px;
}

.profile-picture-2 {
  grid-column-end: 1;
  width: 70px;
  border-radius: 35px;
  margin-right: 20px;
  grid-row-start: 1;
  grid-row-end: 3;
}

.name-box {
  grid-row-start: 1;
  grid-row-end: 3;
}

.hi {
font-weight: bold;
font-size: 13px;
}

.name {
  font-weight: bold;
  font-size: 22px;
}

.header-buttons-container {
  display: grid;
  justify-self: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

button {
  background-color: #1992D4;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
}

.main-content-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.your-projects-title {
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}

.projects-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  background-color: white;
  border-radius: 10px;
  border-left: 10px solid #F0B42A;
  width: 500px;
  height: 200px;
  margin: 20px;
  padding: 20px;
  box-shadow: 5px 5px 12px -7px #000000;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

.card-content {
  color: #9f9f9f;
  font-size: 15px;
}

.bottom-card-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.card-icons-section {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
}

.card-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.icon-star {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 25px;
}

.icon-eye {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 25px;
}

.icon-share {
  grid-column-start: 3;
  grid-column-end: 4;
  width: 25px;
}

.announcements {
  margin-right: 20px;
}

.announcements-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.announcements-box {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 12px -7px #000000;
}

.announcement-content-title {
  font-weight: bold;
}

.announcement-content-text {
  font-size: 15px;
  color: #9f9f9f;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.trending-title {
  font-weight: bold;
  font-size: 18px;
}

.trending-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 12px -7px #000000;
  margin-top: 20px;
  margin-right: 20px;
  padding: 30px;
}

.trending-card {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture-trending img {
  width: 50px;
  border-radius: 25px;
  margin-right: 15px;
}

.info-trending-title {
  font-weight: bold;
}

.info-trending-content {
  color: #9f9f9f;
}